
<br><br><br><br><br>




<h1>Bookdetails works!</h1>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Book name</mat-card-title>
    <mat-card-subtitle>Author</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>

    <mat-tab-group>
  <mat-tab label="Chapter First"> Content 1 </mat-tab>
  <mat-tab label="Chapter Second"><b> Content 2</b>  
       The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting</mat-tab>
  <mat-tab label="Chapter Third"> Content 3. The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting. The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting. </mat-tab>
</mat-tab-group>


      <mat-card-footer><mat-card-subtitle>All Rights Reserved ©	</mat-card-subtitle></mat-card-footer>
    
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
    <button mat-button>COMMENT</button>
  </mat-card-actions>
</mat-card>


