/*carousel header*/
.carousel-header{
  text-align: center;
  padding: 10px;
}
/* end carousel header*/

/*carousel controls*/
.card-wrapper{
  display: flex;
  justify-content: center;
  padding: 20px;
}
.card{
  flex-basis: 30%;
  margin: 0 10px;
  opacity: 1;
  max-width: 200px;
  transition: .5s ease;
  box-shadow: 0 0 10px 0 black;
}
.description {
  opacity: 0;
  position: absolute;
  text-align: justify;
  color: black;
  transition: .5s ease;
  padding: 10px;
}
.card:hover{
  margin-top: -10px;
}
.card:hover .card-img-top, .card:hover .card-body{
  opacity: 0.3;
}
.card:hover .description{
  opacity: 1;
}
.card img{
  margin: 0 auto;
  height: 300px;
  width: 100%;
}
.card-title, .card-text{
  color: black;
}
/* end carousel controls*/

/*our programs*/
.our-programs-header{
  text-align: center;
  padding: 10px 100px;
}
/*end our programs*/

.our-clients{
  height: 700px;
  background: grey;
  display: none;
}


/*our authors*/
.our-authors{
  justify-content: center;
}
.our-authors-heading{
  text-align: center;
  padding: 10px 100px;
}
.our-authors-body{
  display: flex;
  padding: 20px;
  justify-content: center;
}
.author-avatar{
  height: 150px;
  width: 150px;
  margin: 0 auto;
  border-radius: 50%;
}
mat-card{
  padding: 10px;
  justify-content: center;
  flex-basis: 33%;
  margin: 0 10px;
}
mat-card:hover{
  box-shadow: 0 0 10px 0 black;
  transition: 0.2s;
  margin-top: -10px;
}
mat-card-content{
  text-align: center;
}
/* end our authors*/

