<form action="" method="post" class="form-box">
  <h4>Login</h4>

  <div >
    <mat-form-field style="width: 100%">
      <input #username matInput placeholder="Username">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input #password matInput placeholder="Password" [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div>
    <button mat-raised-button color="primary" (click)="authenticate(username.value, password.value)">Login</button>
  </div>

  <h2 *ngIf="fail">Login failed</h2>

</form>
