<footer>
  <div id="footer-wrapper" class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>About Contently</h3>
        <p>Contently is a platform to find and read high quality, affordable books and to submit your writing.</p>
        <p>We believe in flexible and </p>
      </div>

      <div class="col-md-3 ml-auto">
        <h3>Links</h3>
        <ul class="list-unstyled footer-links">
          <li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin fa-2x"></i></a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <h3>Subscribe</h3>
        <p>Subscribe to our weekly email news letter</p>
        <form action="#" class="footer-subscribe">
          <div class="d-flex mb-5">
            <mat-form-field color="warn">
              <input matInput type="text" class="form-control rounded-0" placeholder="Email">
            </mat-form-field>
            <input type="submit" class="btn btn-primary rounded-0" value="Subscribe">
          </div>
        </form>
      </div>
    </div>
  </div>
</footer>
